/* html{
  Might change some of the body to this object
} */
body{
  color: beige;
  font-family: 'Trocchi', serif;
  background-image: url("./images/CodingBackgroundImage.jpg");
  background-size: 100%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#1966de;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  /* .headerContainer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100px 100px;
  } */
  .aboutContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
  .nameBanner{
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
  }
  .navbar{
    float: right;
    grid-column-start: 4;
    grid-column-end: 4;
    border-radius: 25px;
  }
  .verticalLine{
    border-left: lightgray groove 2px;
    padding-left: 5px;
  }
  .navContainer{
    display: grid;
    grid-template-columns: auto;
   justify-content: right;
  }
  #headshot{
grid-column-start: 2;
grid-column-end: 2;
height: 30rem;
border-radius: 25px;
  }
  .floatLeft{
    float: left;
  }
  .description{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 50px;
    margin-right: 20px;
    width: 650px;
    background-color: rgb(105,105,105, .8);
    height: min-content;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.1rem;
  }

  .categoryBanner{
    margin-left: 50px;
    background-color: rgb(105,105,105, .8);
    height: min-content;
    width: fit-content;
    border-radius: 25px;
    padding: 10px;
  }

  /* Contact */
  .input{
    width: 950px;
    margin: 0 auto;
}
.adjustMid{
  /* align-content: center;  */
  text-align: center;
}
.messageContainer{
  width: 40vw;
  height: 40vh;
}
#messageInput{
resize: none;
padding: 5px;
}
#contactFormSubmit{
  border-radius: 25px;
}
.contactInput{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}

/* Projects */

.projectsContainer{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 200px, repeat(2, auto);
}
#projectsBanner{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}
/* #project-1{
  grid-row-start: 2;
} */