footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#1966de;
    color: white;
    text-align: center;
  }
  .headerContainer{
    display: grid;
  }
  .aboutContainer{
    display: grid;
  }